<div class="navbar navbar-expand-sm bg-white">
  <div class="container-navbar">
    <% if user_signed_in? %>
      <%= link_to profile_path do %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "width-size-photo rounded-circle"%>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path do %>
        <button type="button" class="rounded-circle log text-light">Log in</button>
      <% end %>
    <% end %>
    <%= link_to events_path do %>
      <%= image_tag "SoCo__2_-removebg-preview.png", class: "width-size-logo mt-3" %>
    <% end %>
    <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= current_user.photo.key %></a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </li>
    <% else %>
    <% end %>
  </div>
</div>
