<div class="navbar-taille">
    <div class="size-disp">
        <% if user_signed_in? %>
          <% if current_user.photo.attached? %>
            <%= link_to profile_path do %>
              <%= cl_image_tag current_user.photo.key, class: "param-img" %>
            <% end %>
          <% else %>
          <%= link_to profile_path do %>
              <%= image_tag "SoCo__1_-removebg-preview.png", class: "param-img" %>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-circle-user param-icon"></i>
          <% end %>
        <% end %>
    </div>
    <div class="size-disp position-logo">
      <%= link_to events_path do %>
        <%= image_tag "SoCo__2_-removebg-preview.png", class: "param-logo" %>
      <% end %>
    </div>
    <div class="size-disp"></div>
</div>
