<div class="container">
  <div class="text-center">
    <h2><%= @event.title %></h2>
    <h3><%= @event.date %></h3>
  </div>
  <div class="text-center">
    <h3><%= @event.capacity %> tickets</h3>
    <h3> <%= @event.status %> event</h3>
  </div>
  <div class="card-trip mt-5">
    <%= cl_image_tag @event.photo.key, height: 200, width: 200 %>
    <div class="card-trip-infos">
      <div>
        <p><%= @event.description %></p>
      </div>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>

  <%= form_with model: @participant do |f| %>
    <%= f.text_field :event_id, value: @event.id, class: "d-none" %>
    <%= f.text_field :user_id, value: current_user.id, class: "d-none" %>
    <%= f.submit "S'inscrire" %>
  <% end %> 
    <%# <%= link_to "S'inscrire", controller: "participants", action: "create" %>
</div>

  <div>
    <% @event_ratings.each do |event_rating| %>
      <div>
        <h2 class="text-center"> <%= event_rating.user.username %></h2>
        <h2 class="text-center"> <%= event_rating.comment %></h2>
        <h2 class="text-center"> <%= event_rating.rating %> / 5</h2>
      </div>
    <% end %>
  </div>
</div>
