<div class="container">
  <div class="text-center m-2">
    <div class="btn btn-cards ">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
    </div>
  </div>
  <div class="margin mb-3">
    <h2 class="color-font text-center">Evénements auxquels vous avez participés</h2>
    <% @participants.each do |participant| %>
    <div class="position-relative">
      <%= cl_image_tag participant.event.photo.key, class: "position-absolute width-size-photo-profil rounded-circle"%>
    </div>
    <div class="card-trip text-center radius h-25 mt-5">
      <h5 class="card-title title-padding color-font mb-1"><strong><%= participant.event.title %></strong></h5>
      <div class="d-flex p-2">
        <div class="text-center flex-fill w-50 m-auto p-1">
          <p class="color-font mb-1"><i class="fa-solid fa-calendar color-icon me-2"></i> <br> <%= participant.event.date %> </p>
        </div>
        <div class="text-center flex-fill w-50 m-auto p-1">
          <p class="color-font mb-1"><i class="fa-solid fa-location-dot color-icon me-2"></i> <br> <%= participant.event.location %> </p>
          <p class="color-font mb-1">
            <% if participant.event.status == 'privé' %>
              <i class="fa-solid fa-lock color-icon"></i>
            <% else %>
              <i class="fa-solid fa-unlock color-icon"></i>
            <% end %><br><%= participant.event.status %>
          </p>
        </div>
      </div>
      <div class="text-center mb-2">
        <div class="btn btn-cards mb-2">
          <%= link_to "Supprimer", participant_path(participant), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"} %>
        </div>
      </div>
    </div>
    <% end %>
    </div>
  </div>
  <div class="margin">
    <h2 class="color-font text-center mt-4 mb-3">Evénements que vous avez organisés</h2>
    <% @events.each do |event| %>
      <div class="card-trip radius h-25 mt-5 mb-4">
        <% if event.photo.attached? %>
        <%= cl_image_tag event.photo.key, height: 150, crop: :fill, class: "w-100 object-fit-cover" %>
        <% end %>
        <div class="card-trip-infos">
          <div class="text-center">
            <h5 class="card-title color-font text-center font-weight-bold mb-3"><strong><%=event.title%></strong></h5>
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-calendar color-icon me-2"></i>
            <p class="color-font mb-1"><%= event.date %></p>
          </div>
          <div class="d-flex justify-content-center">
            <i class="fa-solid fa-ticket color-icon me-2"></i>
            <p class="color-font mb-1"><%= event.capacity %> places <i class="fa-solid fa-ticket logochat-color"></i></p>
          </div>
          <div class="d-flex justify-content-center pb-2">
            <% if event.status == 'privé' %>
              <i class="fa-solid fa-lock color-icon me-2"></i>
            <% else %>
              <i class="fa-solid fa-unlock color-icon me-2"></i>
            <% end %>
            <p class="color-font mb-1"><%= event.status %></p>
          </div>
          <div class="d-flex justify-content-center pb-2">
            <i class="fa-solid fa-location-dot color-icon me-2"></i>
            <p class="color-font mb-1"><%= event.location %></p>
          </div>
          <div class="d-flex justify-content-center pb-2">
            <i class="fa-solid fa-circle-info color-icon me-2"></i>
            <p class="color-font mb-1"><%= event.description %></p>
          </div>
          <a href=<%= event.tricount %>><i class="fa-solid fa-piggy-bank size-icon color-icon me-2"></i></a>
          <div class="text-center mb-2">
            <div class="btn btn-cards">
              <%= link_to "Supprimer", event_path(event), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr ?"} %>
            </div>
            <div class="btn btn-cards">
              <%= link_to "Modifier", edit_event_path(event)%>
            </div>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
